*{

    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#log{
    background-image: url(img/fond-filaire-abstrait-degrade_23-2149009905.jpg);
    background-size: cover;
    background-position: center;
}

body{
   
 background:linear-gradient(rgb(20,37,81,1),rgb(14,28,54,1));
 background-size: cover;
}

#forma{
   
    background-color: rgba(17, 18, 18, 0.589);
    
}

#navbar{
    background-color:rgb(31, 52, 109);
}

#navlist{
    background-color: rgb(59, 32, 85);
}
#cardi{
    background-color:rgb(31, 52, 109)

}
